@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0px);
}

}

.float{
animation:float 6s ease-in-out infinite;
}

@keyframes gradient{

0%{
background-position:0%;
}

50%{
background-position:100%;
}

100%{
background-position:0%;
}

}

.gradient-animation{

background-size:300% 300%;

animation:gradient 12s ease infinite;

}